In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
iris = sns.load_dataset('iris')
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [3]:
iris.species.value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [4]:
# 꽃 받침의 넓이와 길이, 꽃 잎의 넓이와 길이를 가지고 붓꽃의 종류를 알아내는 모델..
# randomforest, logisticregression
# 정확도 계산..

In [5]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [6]:
# input data(x), target(y) 분리...

In [7]:
y = iris.species   # 정답
x = iris.drop('species', axis=1)   # 데이터

In [8]:
# train data, test data 분리
# train data - 모델 훈련 시 사용
# test data -  모델 평가 시 사용

In [9]:
x_train = x[:100]  # setosa, versicolor
x_test = x[100:]  # verginica

y_train = y[:100]
y_test = y[100:]

In [10]:
# 머신러닝 알고리즘 가져오기

In [11]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

ModuleNotFoundError: No module named 'sklearn'

In [12]:
rfc = RandomForestClassifier()
log = LogisticRegression()

NameError: name 'RandomForestClassifier' is not defined

In [13]:
rfc.fit(x_train, y_train)
log.fit(x_train, y_train)

NameError: name 'rfc' is not defined

In [14]:
prd_rfc = rfc.predict(x_test)
prd_log = log.predict(x_test)

NameError: name 'rfc' is not defined

In [15]:
np.mean(prd_rfc == y_test)

NameError: name 'prd_rfc' is not defined

In [16]:
np.mean(prd_log == y_test)

NameError: name 'prd_log' is not defined

In [17]:
iris[100:110]

     sepal_length  sepal_width  petal_length  petal_width    species
100           6.3          3.3           6.0          2.5  virginica
101           5.8          2.7           5.1          1.9  virginica
102           7.1          3.0           5.9          2.1  virginica
103           6.3          2.9           5.6          1.8  virginica
104           6.5          3.0           5.8          2.2  virginica
105           7.6          3.0           6.6          2.1  virginica
106           4.9          2.5           4.5          1.7  virginica
107           7.3          2.9           6.3          1.8  virginica
108           6.7          2.5           5.8          1.8  virginica
109           7.2          3.6           6.1          2.5  virginica

In [18]:
# train data, test data 분리
# 데이터가 쏠리지 않도록 섞어서 random하게 추출...

In [19]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2)

ModuleNotFoundError: No module named 'sklearn'

In [20]:
rfc = RandomForestClassifier()
log = LogisticRegression()

NameError: name 'RandomForestClassifier' is not defined

In [21]:
rfc.fit(x_train, y_train) # setosa, versicolor, virginica 모든 종류 데이터 학습
log.fit(x_train, y_train)

NameError: name 'rfc' is not defined

In [22]:
prd_rfc = rfc.predict(x_test)  
prd_log = log.predict(x_test)

NameError: name 'rfc' is not defined

In [23]:
np.mean(prd_rfc == y_test)

NameError: name 'prd_rfc' is not defined

In [24]:
np.mean(prd_log == y_test)

NameError: name 'prd_log' is not defined

In [25]:
# 과일 분류
# 고기 등급 분류
# 이력서