## 라이브러리 불러오기

In [ ]:
import pandas as pd
print(pd.__version__)

1.3.5

- 버전 차이가 있다 => 새로 생긴 함수가 있는 반면 없어지는 함수도 있음
  + deprecated warning. message 출력

In [ ]:
d = {"a" : 1, "b" : 2}
ser = pd.Series(data = d, index=["a","b"])
ser

a    1
b    2
dtype: int64

In [ ]:
print(type(ser))

<class 'pandas.core.series.Series'>

In [ ]:
d = {'col1' : [1,2], 'col2' : [3,4]}
df = pd.DataFrame(data=d)
df

   col1  col2
0     1     3
1     2     4

In [ ]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
result = df['col1']
print(result)
print(type(result))

0    1
1    2
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
result = df[['col1']]
print(result)
print(type(result))

   col1
0     1
1     2
<class 'pandas.core.frame.DataFrame'>

In [ ]:
for colname in collist:
  # 코드
  result = df[[colname]]

## 구글 드라이브 연동

In [42]:
from google.colab import drive
drive.mount('/content.drive')

Drive already mounted at /content.drive; to attempt to forcibly remount, call drive.mount("/content.drive", force_remount=True).

In [ ]:
import pandas as pd

DATA_PATH = '/content.drive/MyDrive/Colab Notebooks/2023/human/'
# data = pd.read_csv('/content.drive/MyDrive/Colab Notebooks/2023/human/Lemonade2016.csv')
data = pd.read_csv(DATA_PATH + 'Lemonade2016.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         31 non-null     object
 1   Location     32 non-null     object
 2   Lemon        32 non-null     int64
 3   Orange       32 non-null     int64
 4   Temperature  32 non-null     int64
 5   Leaflets     31 non-null     float64
 6   Price        32 non-null     float64
dtypes: float64(2), int64(3), object(2)
memory usage: 1.9+ KB

In [ ]:
DATA_PATH + 'Lemonade2016.csv'

'/content.drive/MyDrive/Colab Notebooks/2023/human/Lemonade2016.csv'

- 데이터 요약
  + 기초통계량 : 평균, 사분위수 (상위 25%, etc..), 표준편차(==> 회귀 설명)

In [ ]:
# data.describe()
data['Lemon'].describe()

count     32.000000
mean     116.156250
std       25.823357
min       71.000000
25%       98.000000
50%      113.500000
75%      131.750000
max      176.000000
Name: Lemon, dtype: float64

In [ ]:
data['Location']

0      Park
1      Park
2      Park
3     Beach
4     Beach
5     Beach
6     Beach
7     Beach
8     Beach
9     Beach
10    Beach
11    Beach
12    Beach
13    Beach
14    Beach
15    Beach
16    Beach
17    Beach
18     Park
19     Park
20     Park
21     Park
22     Park
23     Park
24     Park
25     Park
26     Park
27     Park
28     Park
29     Park
30    Beach
31    Beach
Name: Location, dtype: object

In [ ]:
# 각 value(park, beach) 숫자 세기
data['Location'].value_counts()

Beach    17
Park     15
Name: Location, dtype: int64

## 새로운 컬럼 추가
- 오렌지와 레몬 판매량 합계

In [ ]:
data['판매량']= data['Lemon'] + data['Orange']
data.head()

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  판매량
0  7/1/2016     Park     97      67           70      90.0   0.25  164
1  7/2/2016     Park     98      67           72      90.0   0.25  165
2  7/3/2016     Park    110      77           71     104.0   0.25  187
3  7/4/2016    Beach    134      99           76      98.0   0.25  233
4  7/5/2016    Beach    159     118           78     135.0   0.25  277

In [ ]:
# 매출액
data['매출액'] = data['Price'] * data['판매량']
data.head()

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  판매량    매출액
0  7/1/2016     Park     97      67           70      90.0   0.25  164  41.00
1  7/2/2016     Park     98      67           72      90.0   0.25  165  41.25
2  7/3/2016     Park    110      77           71     104.0   0.25  187  46.75
3  7/4/2016    Beach    134      99           76      98.0   0.25  233  58.25
4  7/5/2016    Beach    159     118           78     135.0   0.25  277  69.25

## 데이터 내보내기
- csv 파일 내보내기
  + 결과.csv
- 엑셀로 내보내기
  + 결과.xlsx
- 함수를 찾아야 함.
  + pandas 문서 확인

In [44]:
# Export the DataFrame to an Excel file
data.to_excel(DATA_PATH + '결과.xlsx', index=False) # DATA_PATH로 경로 설정

In [45]:
# Export the DataFrame to a CSV file
data.to_csv(DATA_PATH + '결과.csv', index=False)

## 컬럼 삭제

In [46]:
# 열 삭제

data2 = data.drop('매출액', axis = 1)
data2.head(3)

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  판매량
0  7/1/2016     Park     97      67           70      90.0   0.25  164
1  7/2/2016     Park     98      67           72      90.0   0.25  165
2  7/3/2016     Park    110      77           71     104.0   0.25  187

In [ ]:
data2 = data.drop(['매출액', '판매량'], axis = 1)
data2.head(3)

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  판매량
0  7/1/2016     Park     97      67           70      90.0   0.25  164
1  7/2/2016     Park     98      67           72      90.0   0.25  165
2  7/3/2016     Park    110      77           71     104.0   0.25  187

In [47]:
# 행을 삭제한다
data2 = data.drop(10, axis = 0) # axis를 0으로 설정
data2.head(11)

,Date,Location,Lemon,Orange,Temperature,Leaflets,Price,판매량,매출액
0,7/1/2016,Park,97,67,70,90.0,0.25,164,41.00
1,7/2/2016,Park,98,67,72,90.0,0.25,165,41.25
2,7/3/2016,Park,110,77,71,104.0,0.25,187,46.75
3,7/4/2016,Beach,134,99,76,98.0,0.25,233,58.25
4,7/5/2016,Beach,159,118,78,135.0,0.25,277,69.25
5,7/6/2016,Beach,103,69,82,90.0,0.25,172,43.00
6,7/6/2016,Beach,103,69,82,90.0,0.25,172,43.00
7,7/7/2016,Beach,143,101,81,135.0,0.25,244,61.00
8,NaN,Beach,123,86,82,113.0,0.25,209,52.25
9,7/9/2016,Beach,134,95,80,126.0,0.25,229,57.25
11,7/11/2016,Beach,162,120,83,135.0,0.25,282,70.50

In [49]:
d = {"매출액" : 1, "b" : 2}
ser = pd.Series(data = d, index=["매출액", "b"])
ser.drop('매출액', axis=0)

b    2
dtype: int64

In [51]:
data[0:3]

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  판매량    매출액
0  7/1/2016     Park     97      67           70      90.0   0.25  164  41.00
1  7/2/2016     Park     98      67           72      90.0   0.25  165  41.25
2  7/3/2016     Park    110      77           71     104.0   0.25  187  46.75

## SQL 조건절
- 조건식을 통해, 행을 추출
  + =조건식의 True값만 추출함

In [52]:
data['판매량'].describe()

count     32.000000
mean     196.156250
std       47.647976
min      113.000000
25%      164.750000
50%      189.000000
75%      226.000000
max      305.000000
Name: 판매량, dtype: float64

In [53]:
# 판매량이 200이 넘는 데이터만 추출
# 판매량 >= 200

data['판매량'] >= 200

0     False
1     False
2     False
3      True
4      True
5     False
6     False
7      True
8      True
9      True
10     True
11     True
12     True
13    False
14     True
15    False
16    False
17    False
18     True
19     True
20    False
21    False
22    False
23     True
24     True
25     True
26     True
27    False
28    False
29    False
30    False
31    False
Name: 판매량, dtype: bool

In [55]:
data2 = data[data['판매량'] >= 200]
data2

,Date,Location,Lemon,Orange,Temperature,Leaflets,Price,판매량,매출액
3,7/4/2016,Beach,134,99,76,98.0,0.25,233,58.25
4,7/5/2016,Beach,159,118,78,135.0,0.25,277,69.25
7,7/7/2016,Beach,143,101,81,135.0,0.25,244,61.00
8,NaN,Beach,123,86,82,113.0,0.25,209,52.25
9,7/9/2016,Beach,134,95,80,126.0,0.25,229,57.25
10,7/10/2016,Beach,140,98,82,131.0,0.25,238,59.50
11,7/11/2016,Beach,162,120,83,135.0,0.25,282,70.50
12,7/12/2016,Beach,130,95,84,99.0,0.25,225,56.25
14,7/14/2016,Beach,122,85,78,113.0,0.25,207,51.75
18,7/18/2016,Park,131,92,81,122.0,0.50,223,111.50
19,7/19/2016,Park,122,85,78,113.0,0.50,207,103.50
23,7/23/2016,Park,120,82,81,117.0,0.50,202,101.00
24,7/24/2016,Park,121,82,82,117.0,0.50,203,101.50
25,7/25/2016,Park,156,113,84,135.0,0.50,269,134.50
26,7/26/2016,Park,176,129,83,158.0,0.35,305,106.75

## 속도비교

In [56]:
data.head()

       Date Location  Lemon  Orange  Temperature  Leaflets  Price  판매량    매출액
0  7/1/2016     Park     97      67           70      90.0   0.25  164  41.00
1  7/2/2016     Park     98      67           72      90.0   0.25  165  41.25
2  7/3/2016     Park    110      77           71     104.0   0.25  187  46.75
3  7/4/2016    Beach    134      99           76      98.0   0.25  233  58.25
4  7/5/2016    Beach    159     118           78     135.0   0.25  277  69.25

In [58]:
%%time

data.iloc[0:3, 0:2]

CPU times: user 1.01 ms, sys: 0 ns, total: 1.01 ms
Wall time: 1.03 ms

       Date Location
0  7/1/2016     Park
1  7/2/2016     Park
2  7/3/2016     Park

In [64]:
%%time
data.loc[0:2, ['Date', 'Location']]

CPU times: user 2.38 ms, sys: 0 ns, total: 2.38 ms
Wall time: 2.29 ms

       Date Location
0  7/1/2016     Park
1  7/2/2016     Park
2  7/3/2016     Park

## Group By
- SQL, R, Group by 동일함
- 집계함수

In [66]:
import numpy as np

data.groupby('Location')[['판매량', '매출액']].agg([sum, np.mean])

           판매량                 매출액
           sum        mean     sum       mean
Location
Beach     3422  201.294118  1002.8  58.988235
Park      2855  190.333333  1178.2  78.546667